services:
  careas-app:
    build:
      context: .
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    image: ghcr.io/eusoubrasileiro/careas_apps:latest
    container_name: careas-app
    restart: unless-stopped
    environment:
      - APP_ENV=production
    networks:
      - public_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.careas.rule=Host(`gis.anm.amiticia.cc`)"
      - "traefik.http.routers.careas.entrypoints=websecure"
      - "traefik.http.routers.careas.tls.certresolver=letsencrypt"
      - "traefik.http.services.careas.loadbalancer.server.port=8000"

networks:
  public_network:
    external: true
