[Unit]
Description=Loophole careas apps to https://careas.loophole.site/ if available 
After=network-online.target

[Service]
User=andre
ExecStart=/home/andre/loopholecli/loophole http 80 --hostname careas 
WorkingDirectory=/home/andre/loopholecli
Restart=always

[Install]
WantedBy=multi-user.target