#main-container {
  border-radius: 20px;  
  border-style: groove;
  border-color: rgb(192, 205, 247);
  border-width: 3px;
  padding: 10px;
}

footer {   
  background-color: lightgray;
  padding: 2%;
} 

textarea { 
  min-width: 350px;   
  resize: none;
  min-height: 200px;
  max-height: 600px;  
  background-color: #202324;
  white-space: pre;
}

#bokeh_plot {  
  margin: auto;  
} 

/* set color to the same as secondary button */
label.custom-file-label  {  
  color: rgb(232, 230, 227);
  background-color: rgb(88, 95, 99);
  border-color: rgb(102, 94, 83)
}

/* trying dark mode */
/* 
* {
  background-color: #202324;
  color: #aba499;
  border-color: #736b5e;
  color: #e8e6e3;
}

body {
  background: #202324;
} */
