.container-fluid {
  border-radius: 20px;  
  border-style: groove;
  border-color: rgb(192, 205, 247);
  border-width: 3px;
  padding: 10px;
}

textarea { 
  min-width: 350px;   
  resize: none;
  min-height: 200px;
  max-height: 600px;  
  background-color: #202324;
  white-space: pre;
}

#bokeh_plot {  
  margin : auto;
  align-items: center;  
  justify-content: center;
}

/* set color to the same primary button */
label.custom-file-label  {  
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* trying dark mode */
/* 
* {
  background-color: #202324;
  color: #aba499;
  border-color: #736b5e;
  color: #e8e6e3;
}

body {
  background: #202324;
} */
