<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {{ bokeh_head_plot }}
  </head>
  <body onunload="">
    <div class="container">
      {% block body %} {% endblock %}
    </div>
    <!-- Optional JavaScript -->    
    <script src="/static/bokeh-2.4.1.min.js"></script>
    <script src="/static/jquery.min.js"></script>        
  </body>
</html>