{%extends 'base.html' %}
{%block body %}
<div class="container" id="main-container">  
  <h2>Converte formato memorial</h2>  
  <form method="post" enctype="multipart/form-data" >    	
    	<div class="form-group">
        <div class="row">
          <div class="col">
            <label for="infile">Formato Entrada:</label>
            <div class="form-check-inline">
              {% for name, checked in input_radio_fmts.items() %}    
              <label class="form-check-label">                
                <input type="radio" class="form-check-input" name="input_format" value="{{ name }}" {{ checked }}>{{ name }}
              </label>        
              {% endfor %}   
            </div>   
            <div class="form-check-inline">
              {% for name, checked in input_options.items() %}    
              <a href="#" data-toggle="tooltip" data-placement="right" title="" id="{{ name }}">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="{{ name }}" {{ checked }}>{{ name }}
                </label>
              </a>
              {% endfor %}  
            </div>         
            <textarea class="form-control" rows="20" id="infile" name="input_text">{{ input_text_file }}</textarea>   
            <div class="row">
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" formaction="/convert">Converter</button>  
              </div>
              <div class="col-sm-8">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Carregar</label>
                </div>           
              </div> 
            </div>          
            <!-- <div class="float-right">    
              <a href="#rumos-verdadeiros" class="btn btn-outline-secondary btn-sm" data-toggle="collapse">Avançado</a>
              <div id="rumos-verdadeiros" class="collapse">
                <div class="form-group">
                  <label for="sel1">Rumos Verdadeiros Tolerância:</label>
                  <select class="form-control form-control-sm" id="sel1">
                    <option>0,5-metro</option>
                    <option>1,5-metro</option> 
                    <option>0-disabled</option>
                  </select>
                </div>
              </div>    
            </div> -->
           </div>                
          <div class="col">
            <label for="outfile">Formato Saída:</label>
            <div class="form-check-inline">
              {% for name, checked in output_radio_fmts.items() %}    
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="output_format" value="{{ name }}" {{ checked }}>{{ name }}
              </label>                      
              {% endfor %} 
            </div>           
           <textarea class="form-control" rows="20" cols="20" id="outfile" name='out_text' readonly>{{ output_text_file }}</textarea>      
           <a href='/download'><button type="button" class="btn btn-primary">Download</button></a>                      
          </div>
          <div class="col" id="bokeh_plot">
             {{ bokeh_body_plot }} 
          </div> 
    	</div>
    </div>     
  </form>
</div>
{% endblock %}

