[Unit]
Description=Gunicorn two instances to serve careas_apps website https and http
After=network.target

[Service]
User=andre
Group=www-data
WorkingDirectory=/home/andre/careas_apps
ExecStart=/home/andre/careas_apps/scripts/careas_apps_webserver.py

[Install]
WantedBy=multi-user.target